accentColor = #3f51b5
contrastColor = complement(accentColor)

blockquote
	border-left 5px solid contrastColor

thead
	font-weight bold

.btn:hover
	background-color contrastColor !important

#myTable
	max-width 600px
	thead
		background-color accentColor
		color white
	tbody tr:nth-child(3)
		color red
	tfoot
		background-color lighten(accentColor, 10%)
		color white

#testForm
	.input-field
		input:focus
			border-bottom: 1px solid accentColor
			box-shadow: 0 1px 0 0 accentColor
			& + label
				color: accentColor