{% extends 'template.html.twig' %}

{% block title %}
	Add Task
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{ asset('js/tagFormHandler.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Task creation</h1>

		{% include 'form/taskForm.html.twig' %}

		<ul>
			<li>
				<a href="{{ path('task_index') }}">Back to the list</a>
			</li>
		</ul>
	</div>
{% endblock %}
