{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Tag</h1>

		<table>
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ tag.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ tag.name }}</td>
				</tr>
				<tr>
					<th>Tasks</th>
					<td>
						<ul>
							{% for task in tasks %}
								{{ task.name }}
							{% endfor %}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li>
				<a href="{{ path('tag_index') }}" class="btn">Back to the list</a>
			</li>
		</ul>
	</div>
{% endblock %}
